@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>
        <h1 class="display-4">Управление клиентами</h1>
    </p>
   @* <p>
    <div class="searchbox">
        <form class="form-wrapper" method="post" asp-area="" asp-controller="People" asp-action="Find">
            
            <input type="search" name="filterPerson" placeholder="Поиск клиентов">
            <input type="submit" value="Найти">

        </form>
    </div>
    </p>*@
</div>