@model CRM_CUS.Models.TypeDocument

@{
    ViewData["Title"] = "Создать";
}

<h1>Создать</h1>

<h4>Тип паспорта</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodeDocument" class="control-label"></label>
                <input asp-for="CodeDocument" class="form-control" />
                <span asp-validation-for="CodeDocument" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryDocument" class="control-label"></label>
                <input asp-for="CountryDocument" class="form-control" />
                <span asp-validation-for="CountryDocument" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodeCountryDocument" class="control-label"></label>
                <input asp-for="CodeCountryDocument" class="form-control" />
                <span asp-validation-for="CodeCountryDocument" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionRu" class="control-label"></label>
                <input asp-for="DescriptionRu" class="form-control" />
                <span asp-validation-for="DescriptionRu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DecriptionEn" class="control-label"></label>
                <input asp-for="DecriptionEn" class="form-control" />
                <span asp-validation-for="DecriptionEn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
